{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}Marketeer</title>
        <link rel='stylesheet' type='text/css' href={% static 'marketapp/styles/base.css' %}>
        {% block head_css %}{% endblock head_css %}
    </head>

    <body>
        <header>
            <section class='banner'>
                <a class='logo-link' href={% url 'marketapp:home' %}>
                    <h1 class='logo'>Marketeer</h1>
                </a>
                <h2 class='tagline'>turn clutter to cash</h2>
            </section>
            <section class='utility-bar'>
                <input class='search' type='text' placeholder='   search here'>
                <a class='see-all' href={% url 'marketapp:index' %}>see all</a>
                <div class='sign-in'>
                    <input class='sign-text' type='text' placeholder=' sign in/out'>
                    <button class='sign-btn' type='button'>sign in/out</button>
                    <input class='sign-text' type='text' placeholder=' sign up or me'>
                    <button class='sign-btn' type='button'>sign-up or me</button>
                </div>
            </section>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>