{% extends 'base.html' %}
{% load static %}

{% block head_css %}
    <link rel='stylesheet' type='text/css' href={% static 'marketapp/styles/home.css' %}>
{% endblock head_css %}

{% block content %}
    <h3 class='featured-heading'>Featured Items</h3>

    {% for details in categorized_items %}
        <div class='featured-cell'>
            <h4 class='featured-category'>{{details.category}}</h4>
            {% with img_src='marketapp/images/'|add:details.category|add:'.jpg' %}
                <img class='featured-image'
                     src={% static img_src %} alt={{details.category}}>
            {% endwith %}
            <ul class='featured-list'>
                {% for item in details.items %}
                    <li class='featured-item'>
                        <span class='featured-price'>${{item.price}}</span>
                        <a class='featured-link' href={% url 'marketapp:detail' item.id %}>
                            {{item.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock content %}
