{% extends '../base.html' %}
{% load static %}

{% block title %}All | {% endblock title %}

{% block head_css %}
    <link rel='stylesheet' type='text/css' href={% static 'marketapp/styles/index.css' %}>
{% endblock head_css %}

{% block content %}
    <ul class='items-list'>
        <li class='list-head'>
            <h4 class='list-heading list-heading-price'>Price</h4>
            <h4 class='list-heading'>Item</h4>
            <h4 class='list-heading'>Category</h4>
            <h4 class='list-heading'>Listed on</h4>
        </li>
        {% for item in items %}
            <li class='listed-item'>
                <span class='item-price'>${{item.price}}</span>
                <a class='item-name' href={% url 'marketapp:detail' item.id %}>
                    {{item.name}}
                </a>
                <span class='item-category'>{{item.category.name}}</span>
                <span class='item-list-date'>{{item.list_date}}</span>
            </li>
        {% endfor %}
    </ul>

    <div class='pagination'>
        {% if items.has_previous %}
            <div class='previous'>
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ items.previous_page_number }}">previous</a>
            </div>
        {% endif %}

        <span class='current'>
            {{ items.number }} of {{ items.paginator.num_pages }}
        </span>

        {% if items.has_next %}
            <div class='next'>
                <a href="?page={{ items.next_page_number }}">next</a>
                <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
