/* === Main === */

main {
    display: grid;
    grid-template-rows: auto 1fr;
}

.items-list {
    margin-top: 0;
    padding: 0;
    place-self: center;
    list-style: none;
}

.list-head, .listed-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    margin-bottom: 30px;
}

.list-head {
    margin: 30px 0;
    border-bottom: 2px solid darkslategray;
}

.list-heading {
    margin: 0;
    place-self: center;
}

.list-heading-price {
    place-self: center end;
    margin-right: 15px;
}

.item-price {
    place-self: center end;
    margin-right: 15px;
    font-weight: bold;
}

.item-name {
    place-self: center start;
    text-decoration: none;
}

.item-category {
    place-self: center;
}

.item-list-date {
    place-self: center end;
}

/* === Pagination === */

.pagination {
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        'previous current next';
    margin-bottom: 30px;
    padding: 10px 20px;
    padding-top: 0;
    border-bottom: 2px solid darkslategray;
}

.pagination > * {
    place-self: center;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
}

.previous {
    grid-area: previous;
}

.current {
    grid-area: current;
}

.next {
    grid-area: next;
}
